# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# SQLite Database
db.sqlite3

# Media Files
media/

# Static Files
staticfiles/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log